<main class="uk-card uk-card-default uk-card-body uk-width-expand">
  <article class="uk-comment uk-comment-primary">
    <header class="uk-comment-header">
      <div class="uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove">{{user.username}}</h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
              <li>{{format_date created_at}}</li>
            </ul>
        </div>
        <section class="uk-comment-body">{{content}}</section>
      </div> 
    </header>   
  </article>
</main>