{{> secondary-header post.secondary-header}}

 <form class="uk-position-center-left uk-card uk-card-default uk-width-expand uk-card-body uk-align-center">
        <fieldset class="uk-fieldset">
            <legend class="uk-legend uk-text-center">Post your questions/concern!</legend>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Title">
            </div>
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="8" placeholder="Description"></textarea>
            </div>
    
            <button class="uk-button uk-button-default uk-button-secondary">POST!</button>  
        </fieldset>
    </form>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>